#main {
  position: relative;
}
.btn-teacher-hit {
  border-radius: 220px;
  position: absolute;
  left: 460px;
  top: 204px;
  width: 110px;
  height: 110px;
   background: url('../image/btn1.png') no-repeat;
 }

@-webkit-keyframes show {
  from {
    -webkit-box-shadow: 0 0 9px #333;
  }
  80% {
    -webkit-box-shadow:0 0 80px #f7df13;
  }
  to {
    -webkit-box-shadow: 0 0 9px #333;
  }
}
.btn-teacher-hit-show {

  -webkit-animation-name: show;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
}
/*@keyframes change {*/
  /*0%{ text-shadow: 0 0 4px #f00}*/
  /*50%{ text-shadow: 0 0 40px #f00}*/
  /*100%{ text-shadow: 0 0 4px #f00}*/
/*}*/
.btn-teacher-hit-hover {
  position: absolute;
  left: 450px;
  top: 195px;
  width: 140px;
  height: 140px;
  background: url('../image/btn1-hover.png') no-repeat;
}


.student-play-area {
  position: absolute;
  width: 400px;
  text-align: center;
}
.student-play-area .group-title {
  margin-bottom: 20px;
  display: inline-block;
  width: 68px;
  height: 71px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.group-a {
  left: 310px;
}
.group-b {
  top: 210px;
  left: 16px;
}
.group-c {
  top: 210px;
  left: 610px;
}
.group-a .group-title  {
  background-image: url('../image/azu_big.png');
}
.group-b .group-title  {
  background-image: url('../image/bzu_big.png');
}
.group-c .group-title  {
  background-image: url('../image/czu_big.png');
}
.grammar-lt > span {
  width:75px;
  height:75px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.grammar-lt .sidedrum {
  background: url('../image/xiaogu.png') center no-repeat;
  background-size: cover;
}
.grammar-lt .tupan {
  background: url('../image/tanggu.png') center no-repeat;
  background-size: cover;
}
.grammar-lt .tam {
  background: url('../image/daluo.png') center no-repeat;
  background-size: cover;
}
.grammar-lt .cymbal {
  background: url('../image/dabo.png') center no-repeat;
  background-size: cover;
}
.grammar-lt .mule {
  background: url('../image/xiaoluo.png') center no-repeat;
  background-size: cover;

}

.grammar-show {
  -webkit-box-shadow : 0 0 40px #fbe33d;
  border: 1px solid #fbe33d;
}