html {
	font-size: 16px;
}
html, body {
	margin: 0;
	padding: 0;
}
.wrap {
	width: 1024px;
	height: 500px;
	overflow: hidden;
	background: url('../image/bg2.png') no-repeat;
}
.screen {
	margin: 20px auto;
	width: 984px;
	height: 471px;
	background: url('../image/Singlehammer_bg.png') no-repeat;
	background-size: cover;
}