html {
  font-size: 16px;
  font-family: Helvetica, 'STHeitiSC Light', Tahoma, Verdana, Sans-Serif;
  -webkit-font-smoothing: antialiased;
}
html, body {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.wrap {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background: url('../image/bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.container {
  width: 400px;
  margin: 0 auto;
}
.title {
  margin-left: 30px;
  margin-top: 30px;
  width: 275px;
  height: 108px;
  border-bottom: 1px solid #e88a12;
}
.group-icon {
  display: inline-block;
  width: 95px;
  height: 98px;
  background: url('../image/bzu_big.png') no-repeat;
}
.music-name {
  margin-top: 55px;
  vertical-align: top;
  display: inline-block;
  width: 170px;
  font-size: 20px;
  color: #ffa00b;
  text-align: center;
}
.h3 {
  margin-top: 25px;
  font-size: 18px;
  color: #4a4a4a;
  text-align: center;
}
.edition {
  margin: 0 auto;
  width: 372px;
  height: 100px;
  background: url('../image/guanka.png') no-repeat;
}
.btn-exercise {
  margin-top: 42px;
}
.btn-breakthrough {
  margin-top: 50px;
  background-position: 0 -150px;
}
.btn-create {
  margin-top: 50px;
  background-position: 0 -306px;
}