<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闯关</title>
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/play.css">
</head>
<body>
<div class="wrap">
    <div class="title">
        <div class="group-icon"></div>
        <div class="user-name">小苹果大眼睛</div>
    </div>
    <div class="edition go"></div>
    <div id="main">
        <div class="left-area">
            <div class="game-info">
                <div class="game-name exec1"></div>
                <div class="music-name"></div>
            </div>
            <!--<div class="buttons">-->
                <!--<div class="btn-select-level"></div>-->
                <!--<div class="btn-start-cg"></div>-->
            <!--</div>-->
            <div class="ktv-start">
                <span class="k1"></span>
                <span class="k2"></span>
                <span class="k3"></span>
            </div>
        </div>
        <div class="game-scene">
            <div class="play-line">
                <div class="line"></div>
            </div>
            <div class="mg-wrap">
                <div class="rhythm">
                    <div class="mg-row">
                        <div class="xiaogu"></div>
                    </div>
                    <div class="mg-row">
                        <div class="tanggu"></div>
                    </div>
                    <div class="mg-row">
                        <div class="daluo"></div>
                    </div>
                    <div class="mg-row">
                        <div class="dabo"></div>
                    </div>
                    <div class="mg-row">
                        <div class="xiaoluo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hit-area">
        <div class="grammar g-dabo">大钵</div>
        <div class="grammar g-daluo">大锣</div>
        <div class="grammar g-xiaoluo">小罗</div>
        <div class="grammar g-tanggu">堂鼓</div>
        <div class="grammar g-xiaogu">小鼓</div>
    </div>
</div>
<div class="result success">
    <div class="result-text"></div>
    <div class="btn-reload"></div>
    <div class="btn-next"></div>
</div>
<div class="select-level">
    <div class="level one selected">
        <span class="level-text"></span>
    </div>
    <div class="level two"><span class="level-text"></span></div>
    <div class="level three"><span class="level-text"></span></div>
    <div class="level four"><span class="level-text"></span></div>
    <div class="level five"><span class="level-text"></span></div>
</div>
<div class="mask"></div>
<script src="../../public/js/jquery-1.11.1.min.js"></script>
<script>
</script>
</body>
</html>
