<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/normalize.css">
	<link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
	<div class="wrap">
		<div class="logo"></div>
		<div class="form">
			<div class="username">
				<label for="username">输入姓名</label>
				<input type="text">	
			</div>
			<div class="gruop">
				<div class="group-item group-b">
					<div class="group-bg">
						<div class="group-icon"></div>
					</div>
					<div class="gruop-text">A组</div>
				</div>
				<div class="group-item group-c">
					<div class="group-bg"></div>
					<div class="gruop-text">B组</div>
				</div>
				<div class="group-item group-d">
					<div class="group-bg"></div>
					<div class="gruop-text">C组</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../public/js/jquery-1.11.1.min.js"></script>
	<script>
		$(function() {
			var Reaygo = new Audio('../../public/audio/ready_go.mp3');
			var Tabour = new Audio('../../public/audio/Tabour.wav');
			var Bigbong = new Audio('../../public/audio/bigbong.wav');
			var Maluo = new Audio('../../public/audio/maluo.wav');
			var Dabo = new Audio('../../public/audio/dabo.wav');
			var Tanggu = new Audio('../../public/audio/tanggu.wav');
			$('.btn-start').on('click', function() {
				Reaygo.play();
			});
			$('.handler-area').on('click', '.operat-button', function() {
				var $this = $(this);
				var id = $this.attr('id');
				switch(id) {
					case 'tabour':
						Tabour.play(); break;
					case 'bigbong':
						Bigbong.play(); break;
					case 'maluo':
						Maluo.play(); break;
					case 'dabo':
						Dabo.play(); break;
					case 'tanggu':
						Tanggu.play(); break;
					default:
				}
			});
		});
	</script>
</body>
</html>
