<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
	<div class="wrap">
		<div class="screen">
			<div class="score-area"></div>
			<div class="play-scene">
				<div class="jiezou-con">
					<div class="t-box">
						<div class="grammar grammar_type1"></div>
						<div class="grammar grammar_type2"></div>
						<div class="grammar grammar_type3"></div>
						<div class="grammar grammar_type4"></div>
						<div class="grammar grammar_type5"></div>
					</div>
					<div class="t-box">
						<div class="grammar grammar_type1"></div>
						<div class="grammar grammar_type2"></div>
						<div class="grammar grammar_type3"></div>
						<div class="grammar grammar_type4"></div>
						<div class="grammar grammar_type5"></div>
					</div>
					<div class="t-box">
						<div class="grammar grammar_type3"></div>
						<div class="grammar grammar_type4"></div>
						<div class="grammar grammar_type5"></div>
					</div>
					<div class="t-box">
						<div class="grammar grammar_type1"></div>
						<div class="grammar grammar_type2"></div>
						<div class="grammar grammar_type3"></div>
						<div class="grammar grammar_type4"></div>
						<div class="grammar grammar_type5"></div>
					</div>
					<div class="t-box">
						<div class="grammar grammar_type1"></div>
						<div class="grammar grammar_type5"></div>
					</div>
				</div>
			</div>
			<div class="btn-start"></div>
		</div>
		<div class="countdown">
			<div class="countdown-text"></div>
			<div class="ready-text">Ready Go!</div>
		</div>
		<div class="handler-area">
			<div id="tabour" class="operat-button t1"></div>
			<div id="bigbong" class="operat-button t2"></div>
			<div id="maluo" class="operat-button t3"></div>
			<div id="dabo" class="operat-button t4"></div>
			<div id="tanggu" class="operat-button t5"></div>
		</div>
		<audio id="readyMp3" src="../../public/audio/ready_go.mp3" preload></audio>
	</div>
	<script src="../../public/js/jquery-1.11.1.min.js"></script>
	<script>
		$(function() {
			var Reaygo = new Audio('../../public/audio/ready_go.mp3');
			var Tabour = new Audio('../../public/audio/Tabour.wav');
			var Bigbong = new Audio('../../public/audio/bigbong.wav');
			var Maluo = new Audio('../../public/audio/maluo.wav');
			var Dabo = new Audio('../../public/audio/dabo.wav');
			var Tanggu = new Audio('../../public/audio/tanggu.wav');

			$('.btn-start').on('click', function() {
				game.init();
			});

			$('.handler-area').on('click', '.operat-button', function() {
				var $this = $(this);
				var id = $this.attr('id');
				switch(id) {
					case 'tabour':
						Tabour.play(); break;
					case 'bigbong':
						Bigbong.play(); break;
					case 'maluo':
						Maluo.play(); break;
					case 'dabo':
						Dabo.play(); break;
					case 'tanggu':
						Tanggu.play(); break;
					default:
				}
			});

			var game = {
				init: function() {
					this.$el = $('.jiezou-con');
					this.comp = {
						$countdown: $('.countdown'),
						$readyText: $('.ready-text')
					}
					this.showCountDown();
				},
				showCountDown: function() {
					var self = this;
					self.comp.$countdown.show();
					setTimeout(function() {
						$('.ready-text').show();
						Reaygo.play();
						setTimeout(function() {
							self.comp.$countdown.hide();
							self.comp.$readyText.hide();
							self.start();
						}, 1200);
					}, 3000);
				},
				start: function() {
					var self = this;
					var w = this.$el.width();
					$('.btn-start').hide();
					this.$el.css('right', -w);
					this.$el.show().animate(
						{right: w},
						w * 10,
						'linear',
						function() {
							self.end();
						});
				},
				end: function() {
					console.log('end');
					$('.btn-start').show();
				},
				fixScore: function() {

				}
			}
		});
	</script>
</body>
</html>
