<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/play.css">
</head>
<body>
<div class="wrap">
    <div class="title">
        <div class="group-icon"></div>
        <div class="music-name">小苹果大眼睛</div>
    </div>
    <div class="edition exec"></div>
    <!--<div class="edition go"></div>-->
    <div id="main">
        <div class="left-area">
            <div class="game-info">
                <div class="game-name exec1"></div>
                <div class="music"></div>
            </div>
            <div>
                <div class="btn-freedom-exec"></div>
                <div class="btn-start-exec"></div>
            </div>
        </div>
        <div class="game-scene">
            <div class="play-line">
                <div class="line"></div>
            </div>
            <div class="mg-wrap">
                <div class="rhythm">
                    <div class="mg-row">
                        <div class="xiaogu"></div>
                    </div>
                    <div class="mg-row">
                        <div class="tanggu"></div>
                    </div>
                    <div class="mg-row">
                        <div class="daluo"></div>
                    </div>
                    <div class="mg-row">
                        <div class="dabo"></div>
                    </div>
                    <div class="mg-row">
                        <div class="xiaoluo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hit-area">
        <div class="grammar g-dabo">大钵</div>
        <div class="grammar g-daluo">大锣</div>
        <div class="grammar g-xiaoluo">小罗</div>
        <div class="grammar g-tanggu">堂鼓</div>
        <div class="grammar g-xiaogu">小鼓</div>
    </div>
</div>
<div class="waiting-wrap">
    <h2>等待其他小伙伴</h2>
    <div class="player-list">
        <div class="player">
            <div class="player-avatar"></div>
            <div class="player-name">小苹果大眼睛</div>
        </div>
        <div class="player">
            <div class="player-avatar"></div>
            <div class="player-name">小苹果大眼睛</div>
        </div>
        <div class="player">
            <div class="player-avatar"></div>
            <div class="player-name">小苹果大眼睛</div>
        </div>
        <div class="player">
            <div class="player-avatar"></div>
            <div class="player-name">小苹果大眼睛</div>
        </div>
        <div class="player">
            <div class="player-avatar"></div>
            <div class="player-name">小苹果大眼睛</div>
        </div>
    </div>
</div>
<div class="mask"></div>
<script src="../../public/js/jquery-1.11.1.min.js"></script>
<script>
</script>
</body>
</html>
