<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/selectMode.css">
</head>
<body>
    <div class="wrap">
        <div class="title">
            <div class="group-icon"></div>
            <div class="music-name">小苹果大眼睛</div>
        </div>
        <div class="container">
            <div class="h3">请选择训练模式</div>
            <div class="edition btn-exercise"></div>
            <div class="edition btn-breakthrough"></div>
            <div class="edition btn-create"></div>
        </div>
    </div>
<script src="../../public/js/jquery-1.11.1.min.js"></script>
<script>
</script>
</body>
</html>
